.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #181c27;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  text-align: center;

  padding: 0%;
}
.icon {
  width: 30px;
  height: 10px;
  margin-right: 23px;

  fill: currentColor;
  stroke: currentColor;
}
.text {
  width: 115px;
  margin: 0%;
}
