.button {
  border: none;
}
.icon {
  width: 8px;
  height: 12px;
  fill: #181c27;
  stroke: #181c27;
}
.div {
  display: flex;
  align-items: center;
}
.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin: 0%;
  margin-right: 5px;
  margin-left: 5px;

  color: rgba(24, 28, 39, 0.6);
}
.page {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #181c27;
}

@media screen and (min-width: 768px) {
  .div {
    margin-right: 39px;
  }
}
