.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin: 0%;
  margin-right: 5px;
  margin-left: 5px;

  color: rgba(24, 28, 39, 0.6);
}
