

.sideBar {
  height: 100%;
  width: 200px;
  height: auto;
  
}
.ArrowBtn {
  width: 279px;
 padding: 10px 0;
 border-bottom:1px solid rgba(24, 28, 39, 0.1) ;
}

.sprint:not(:last-child) {
  margin-bottom: 30px;
}
.sprintsWrapper{
  display: none;
}
.btnWrapper {
  display: none;
  
}
.addSprintText {
  font-family: Montserrat;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;

  color: #181c27;
  display: block;
  margin: 0%;
  margin-bottom: 0%;
  margin-top: 15px;
}
/*стили для основного меню*/
.mainWrapper {
  padding-right: 30px;
  padding-left: 20px;
}
.firstLvl {
  width: 260px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.PaginationWrapper {
  margin-right: 40px;
  justify-content: center;
}
.secondLvl {
 
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.titleWrapper {
  
  display: inline-block;
  font-weight: 500;
font-size: 26px;
line-height: 1.23;
}
.btnCreateTaskWrapper {
  display: flex;
  align-items: center;
}
.btnCreateTaskWrapper:hover{
  box-shadow: 1px 1px 5px 1px #ff6b08;
}
.secondLevelText {
 display:none
  
}
.list {
  
  display: none;
  
}
.listItem:not(:last-child) {
  margin-right: 90px;
}
.text {
  font-family: Montserrat;

  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.04em;

  color: #181c27;
  margin-bottom: 0%;
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lvlSeard {
  display: block;
}
.lvlSeard::after {
  content: "";
  display: block;
  width: 1025px;
  height: 1px;
  background-color: rgba(24, 28, 39, 0.1);
}

@media screen and (min-width: 767px) {
  .wrapper {
    box-sizing: border-box;
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 100%;
  }
  .sideBar{
    border-right: 1px solid rgba(24, 28, 39, 0.1);
    outline: 1px tomato;
    box-sizing: border-box;
    padding-bottom: 50px;
  }
  .sprintsWrapper {
    display: flex;
    width: 170px;
    margin-right: 30px;
    margin-bottom: 111px;
  }
  .btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ArrowBtn {
    width: 100%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 60px;
    border-bottom: none;
  }
  .mainWrapper {
    padding-left: 40px;
    
  }
  .firstLvl{
    width: 287px;
  }
  .list {
    padding-bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .btnCreateTaskWrapper {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1020px) {
  .secondLevelText {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
  
    color: #181c27;
    padding-bottom: 0%;
    
  }
}