.container__sprints{
  padding: 40px 70px;
}

.hederSprint__title{
  display: flex;
  align-items: baseline;
}
.hederSprint{
  display: inline-block;
    position: relative;
    max-width: 70vw;
    font-weight: 500;
    margin-right: 20px;
    font-size: 26px;
    line-height: 1.231;
    letter-spacing: .04em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.penBtn{
    display: block;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url("./Pen.svg");
    border-radius: 25px;
    margin-right: 425px;
    }
.penBtn:hover {
  cursor: pointer;
  background-image: url("./ActivBin.svg");
}
.hederSprint__text{
  margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: .04em;
}
.create__sprint{
  
    outline: none;
    border: none;
    
    width: 44px;
    height: 44px;
    fill: #fff;
    background-color: #ff6b08;
    text-align: center;
    border-radius: 25px;
    margin-right: 20px;
}
.create__sprint:hover{
  box-shadow: 1px 1px 5px 1px #ff6b08;
}
.single__item {
  list-style: none;
  cursor: pointer;
  transition: all 250ms linear;
}

.single__item:hover {
  transform: scale(1.02);
}

.single__card {
  width: 270px;
  min-height: 224px;
  background: #ffffff;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-family: "Montserrat";
  position: relative;
  padding: 20px 30px 40px;
}

.card__header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}

.sprint__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.card__content {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 17px;
}

.card__content_header {
  text-align: left;
}

.card__content_info {
  text-align: right;
}

.card__content_header:not(:nth-last-child(-n + 3)),
.card__content_info:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}

.card__button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("./bin.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  transition: all 500ms linear;
}

.card__button:hover {
  background-image: url("./ActivBin.svg");
}
