.title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;

  margin-top: 20px;

  letter-spacing: 0.04em;

  color: #181c27;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1.23;
    margin: 0;
  }
}
@media screen and (min-width: 769px) {
  .text {
    font-family: Montserrat;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.04em;
    color: #181c27;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .text {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.btnIconAddProject {
  margin-bottom: 15px;
}
