.backgroundAuth_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

}


@media screen and (max-width: 767px) {
  .picture1 {
   display: none;
  }
}

@media screen and (min-width: 768px) {
  .picture1 {
    position: absolute;
    width: 298px;
    height: 298px;
    bottom: 0;
    left: -110px;
    z-index: 0;
    top:565px;
  }
}

@media screen and (min-width: 1280px) {
  .picture1 {
    position: absolute;
    width: 298px;
    height: 298px;
    bottom: 0;
    left: 20%;
    z-index: 0;
    top: 507px;
  }
}

@media screen and (max-width: 767px) {
  .picture2 {
   display: none;
  }
}

@media screen and (min-width: 768px) {
  .picture2 {
    position: absolute;
    width: 252px;
    height: 252px;
    bottom: 0;
    left: -72px;
    z-index: 0;
    top: 574px;
  }
}

@media screen and (min-width: 1280px) {
  .picture2 {
    position: absolute;
    width: 252px;
    height: 252px;
    left: 22%;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;
    top:516px
  }
}

@media screen and (max-width: 767px) {
  .picture3 {
   display: none;
  }
}

@media screen and (min-width: 768px) {
  .picture3 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 298px;
    left: -25px;
  }
}

@media screen and (min-width: 1280px) {
  .picture3 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 240px;
    left: 230px;
  }
}

@media screen and (max-width: 1279px) {
  .picture4 {
   display: none;
  }
}

@media screen and (min-width: 1280px) {
  .picture4 {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 367px;
    left: 111px;
  }
}

@media screen and (max-width: 767px) {
  .picture5 {
   display: none;
  }
}

@media screen and (min-width: 768px) {
  .picture5 {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 161px;
    right: 50%;
  } 
}

@media screen and (min-width: 1280px) {
  .picture5 {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 103px;
    right: 320px;
  }
}

@media screen and (max-width: 1279px) {
  .picture6 {
   display: none;
  }
}

@media screen and (min-width: 1280px) {
  .picture6 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 129px;
    right: 225px;
  }
}

@media screen and (max-width: 1279px) {
  .white {
   display: none;
  }
}

@media screen and (min-width: 1280px) {
  .white {
    position: absolute;
    right: 0;
    bottom: 0;
    top:199px
  }
}

@media screen and (min-width: 768px) {
  .orange_tablet {
    position: absolute;
    right: 0;
    bottom: 33px;
    opacity: 0.9;
    top: 291px;
  }
}

@media screen and (min-width: 1280px) {
  .orange_tablet {
    display: none;
  }
}


@media screen and (max-width: 1279px) {
  .orange {
   display: none;
  }
}

@media screen and (min-width: 1280px) {
  .orange {
    position: absolute;
    right: 0;
    bottom: 33px;
    opacity: 0.9;
    top: 233px
  }
}



