.container__sprints {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: -10px;
}

@media screen and (max-width: 768px) {
  .cards__wrapper {
    margin: -5px;
  }
}

@media screen and (min-width: 1024px) {
  .cards__wrapper {
    margin: -15px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .single__item {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: all 250ms linear;

    margin: 5px;
    margin-top: 20px;

    flex-basis: calc((100% - 2 * 10px) / 2);
  }
}

/* .single__item {
  position: relative;
  list-style: none;
  cursor: pointer;
  transition: all 250ms linear;

  margin: 5px;
  margin-top: 20px;

  flex-basis: calc((100% - 2 * 10px) / 2);
} */

@media screen and (min-width: 1024px) {
  .single__item {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: all 250ms linear;

    margin: 15px;
    margin-top: 20px;

    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.single__item:hover {
  transform: scale(1.02);
}

.hederSprint__title {
  display: flex;
  justify-content: space-between;
}

.hederSprint {
  display: inline-block;
  position: relative;
  max-width: 70vw;
  font-weight: 500;
  margin-right: 20px;
  font-size: 26px;
  line-height: 1.231;
  letter-spacing: 0.04em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.penBtn {
  display: block;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url("./Pen.svg");
  border-radius: 25px;
}
.penBtn:hover {
  cursor: pointer;
  background-image: url("./ActivBin.svg");
}
.hederSprint__text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
.create__sprint {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: #ff6b08;
  transition: all 250ms linear;
  margin-right: 20px;
}
@media screen and (max-width: 1023px) {
  .create__sprint {
    margin-right: 0;
  }
}

.create__sprint:hover {
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.5);
  transform: scale(1.2);
  transition: all 250ms linear;
}

.single__card {
  background: #ffffff;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-family: "Montserrat";
  position: relative;
  padding: 20px;

  width: 280px;
  height: 170px;

  z-index: -1;
}

@media screen and (min-width: 768px) {
  .single__card {
    width: 216px;
    height: 255px;
  }
}

@media screen and (min-width: 1024px) {
  .single__card {
    width: 206px;
    height: 224px;
    padding: 20px;
  }
}

.card__header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card__header {
    font-size: 18px;
    line-height: 22px;
  }
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.textContent {
  font-family: Montserrat;

  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .textContent {
    font-size: 14px;
    line-height: 17px;
  }
}

.textContentDate {
  font-family: Montserrat;

  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .textContentDate {
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
  }
}

.card__button {
  position: absolute;
  right: 10px;
  bottom: 10px;

  display: block;
  width: 20px;
  height: 20px;
  background-image: url("./bin.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 500ms linear;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .card__button {
    right: 20px;
    bottom: 10px;
  }
}

.card__button:hover {
  background-image: url("./ActivBin.svg");
}

.projectDetails {
  padding-top: 40px;
  padding-left: 20px;
}

.headerSprint__titleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .text {
    display: none;
  }
}

.hederSprint_box {
  display: flex;
  align-items: baseline;
}
.text {
  display: none;
}

@media screen and (min-width: 900px) {
  .text {
    display: contents;
  }
}
.create_box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* z-index: 2; */
}
@media screen and (min-width: 768px) {
  .create_box {
    top: 120px;
    right: 40px;
  }
}
@media screen and (min-width: 900px) {
  .create_box {
    display: flex;
    align-items: baseline;
  }
}

.addMemberBtn {
  font-family: Montserrat Medium;
  display: block;
  margin-left: 10px;
  padding: 0;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.6);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.addWrapper {
  display: flex;
  /* margin-left: 70px; */
}

@media screen and (max-width: 767px) {
  .addWrapper {
    margin-left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.22;
  }
}

.currentProjectDescription {
  font-family: Montserrat;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;

  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .hederSprint__text {
    font-size: 18px;
    line-height: 1.22;
    width: 452px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyList {
  text-align: center;
  color: rgba(24, 28, 39, 0.3);
  font-family: "Montserrat";
  margin-top: 100px;
  font-size: 24px;
}
