.container__sprints {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

@media screen and (min-width: 768px){
  .container__sprints{
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container__sprints {
    margin-right: 30px;
  }
}

.cards__wrapper {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 768px){
  .cards__wrapper{
    display: flex;
    justify-content: first baseline;
    max-width: 472px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .cards__wrapper {
    max-width: 930px;
  }
}

.sprint__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  

}

.hederSprint__title {
  display: flex;
 
  justify-content: space-between;
}

.hederSprint {
  display: inline-block;
  position: relative;
  max-width: 70vw;
  font-weight: 500;
  margin-right: 20px;
  font-size: 26px;
  line-height: 1.231;
  letter-spacing: 0.04em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.penBtn {
  display: block;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url("./Pen.svg");
  border-radius: 25px;
}
.penBtn:hover {
  cursor: pointer;
  background-image: url("./ActivBin.svg");
}
.hederSprint__text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;  
  width: 280px;
}
.create__sprint {
  outline: none;
  border: none;

  width: 44px;
  height: 44px;
  fill: #fff;
  background-color: #ff6b08;
  text-align: center;
  border-radius: 25px;
  margin-right: 20px;
}
@media screen and (max-width: 1023px) {
  .create__sprint {
    margin-right: 0;
  }
}

.create__sprint:hover {
  box-shadow: 1px 1px 5px 1px #ff6b08;
}
.single__item {
  position: relative;
  list-style: none;
  cursor: pointer;
  transition: all 250ms linear;
}

.single__item:hover {
  transform: scale(1.02);
}

.single__card {
  width: 270px;
  min-height: 224px;
  background: #ffffff;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-family: "Montserrat";
  position: relative;

  padding: 20px 30px 30px;
}

@media screen and (min-width: 768px){
  .single__card{
    width: 215px;
    height: 190px;
    padding: 15px 20px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .single__card {
    width: 270px;
    height: 215px;
    padding: 20px 30px 30px;
  }

}

.card__header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}

.sprint__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.card__content {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 17px;
}

.card__content_header {
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.card__content_info {
  text-align: right;
  color: rgba(0, 0, 0, 1);
}

.card__content_header:not(:nth-last-child(-n + 3)),
.card__content_info:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .card__content_header:not(:nth-last-child(-n + 3)),
  .card__content_info:not(:nth-last-child(-n + 2)) {
    margin-bottom: 25px;
  }
}

.card__button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("./bin.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  transition: all 500ms linear;
}

.card__button:hover {
  background-image: url("./ActivBin.svg");
}

.projectDetails {
  padding-top: 40 px;
  padding-left: 20 px;
}


.headerSprint__titleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .text {
    display: none;
  }
}

.hederSprint_box {
  display: flex;
  align-items: baseline;
}
.text {
  display: none;
}

@media screen and (min-width: 900px) {
  .text {
    display: contents;
  }
}
.create_box{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
@media screen and (min-width: 768px){
  .create_box{
    
    top: 120px;
    right: 40px;
    
  }
}
@media screen and (min-width: 900px){
  .create_box{
    
    display: flex;
    align-items: baseline;
  }
}

.create_box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .create_box {
    top: 120px;
    right: 40px;
  }
}
@media screen and (min-width: 900px) {
  .create_box {
    display: flex;
    align-items: baseline;
  }
}


.addMemberBtn {
  font-family: Montserrat Medium;
  display: block;
  margin-left: 10px;
  padding: 0;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.6);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.addWrapper {
  display: flex;
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .addWrapper {
    margin-left: 20px;
  }
}



@media screen and (min-width: 900px){
  .title{
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;  
  }
}

@media screen and (min-width: 900px){
  .hederSprint__text {
    font-size: 18px;
    line-height: 1.22;  
    width: 452px;
  }
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


