.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  
}

@media screen and (max-width: 767px) {
  .backdrop {
    width: 100%;
    top: 60px;
    right: 0;
  }
}

.content {
  right: 0;
  padding: 67px 20px 70px 20px;
  margin: 0 auto;
  width: 100vw;

  position: absolute;
  height: 608px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;

    display: block;

    max-width: 512px;
    padding-top: 121px;
    padding-left: 32px;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-bottom: 40px;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1280px) {
  .content {
    min-height: 768px;
    max-width: 530px;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
