.header {
  background-color: #f1f2f7;
  border-bottom: solid 1px;
  border-bottom-color: rgba(24, 28, 39, 0.1);
}

.header__wrapper {
  width: auto;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  background-image: url(./Logo.png);
  background-repeat: no-repeat;

  background-size: cover;
  display: block;
  width: 100px;
  height: 30px;
}

.header__login_wrapper {
  display: flex;
}

.header__login_name {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #181c27;
  margin-right: 20px;
  font-family: "Montserrat";
}

.header__logout_button {
  cursor: pointer;
  background-color: #f1f2f7;
  background-size: cover;
  border: none;
  outline: none;
  background-image: url(../../Images/logout-2.svg);
  fill: currentColor;
  display: block;
  height: 30px;
  width: 30px;
}

.header__logout_button:focus,
.header__logout_button:hover {
  background-image: url(../../Images/logout-4.svg);
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .header__wrapper {
    width: auto;
    height: 80px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .header_logo {
    width: 140px;
    height: 42px;
  }

  .header__login_wrapper {
    display: flex;
    align-items: center;
    padding-right: 78px;
    position: relative;
  }

  .header__login_name {
    height: 20px;
    position: relative;
    margin-right: 77px;
    top: 4px;
  }

  .header__logout_button {
    position: relative;
  }

  .header__logout_button {
    background-image: url(../../Images/logout-1.svg);
    width: 18px;
    height: 18px;
  }

  .header__logout_button:focus,
  .header__logout_button:hover {
    background-image: url(../../Images/logout-3.svg);
    transition: all 0.25s ease-in-out;
  }

  .header__logout_button::after {
    content: "Вихід";
    display: block;
    height: 20px;
    position: absolute;
    top: -0.1px;
    right: -78px;
    color: rgba(24, 28, 39, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    font-family: "Montserrat";
    transition: all 0.25s ease-in-out;
  }

  .header__logout_button:focus::after,
  .header__logout_button:hover::after {
    color: #ff6b08;
    transition: all 0.25s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .header__wrapper {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
  }
}
