.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    /* outline: 1px solid yellow; */
  }
  .link:hover,
  .link:active {
    color: blue;
  }
  .link:not(:last-child) {
    margin-right: 20px;
  }
  .activeLink {
    color: tomato;
  }
  .authNav {
    display: flex;
    align-items: center;
  }