.modalContainer {
  position: relative;
  /* z-index: 999; */
  margin-top: 0;
   width: 429px;
} 

@media screen and (max-width: 767px) {
  .modalContainer {
    width: 280px;
    margin-top: 63px;
  }
}

.addFormTitle {
  margin-bottom: 50px;
  text-align: center;
  font-family: Montserrat Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.32;
}

@media screen and (max-width: 767px) {
  .addFormTitle {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.33;
  }
}

::placeholder {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

.input {
  width: 100%;
  padding-bottom: 8px;
  outline: none;
  border-color: transparent;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
}

@media screen and (max-width: 767px) {
  .input {
    padding-bottom: 9px;
  }
}

.usersTitle {
  margin-top: 30px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
}

.buttonWrapper {
  margin-left: auto;
  margin-right: auto;

  width: 154px;
  margin-top: 60px;
}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 17.89px;
  height: 17.46px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

/* .label {
  position: absolute;
  left: 10px;
  top: 43px;
  transition: top 0.5s;

  display: block;
  font-family: Montserrat;

  font-size: 12px;
  line-height: 0.8;

  color: rgba(24, 28, 39, 0.6);
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 14px;
    line-height: 1.22;
  }
} */
