.icon {
  fill: currentColor;
  stroke: currentColor;
  width: 20px;
  height: 20px;
}

.button {
  
  border: none;
  width: 44px;
  height: 44px;
  font-family: Montserrat ExtraLight;
  font-style: normal;
  font-weight: 275;
  font-size: 43px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: #ff6b08;
  border-radius: 25px;

  border: none;
  cursor: pointer;

  transition: all 250ms linear;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.5);
  transition: all 250ms linear;
}
.button:hover {
  transform: scale(1.2);
}
